<div class="act-div">
    <div class="act-msg-div">
        <p class="act-tit">3亿红包任性拿 特斯拉钥匙等你拿</p>
        <ul class="act-list">
            <li>
                <h3>活动一重礼</h3>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;每日签到领金币每日签到领金币每日签到领金币每日签到领金币每日签到领金币每日签到领金币每日签到领金币每日签到领金币每日签到领金币每日签到领金币</p>
            </li>
            <li>
                <h3>活动二重礼</h3>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;每日签到领金币每日签到领金币每日签到领金币每日签到领金币每日签到领金币每日签到领金币每日签到领金币每日签到领金币每日签到领金币每日签到领金币</p>
            </li>
            <li>
                <h3>活动三重礼</h3>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;每日签到领金币每日签到领金币每日签到领金币每日签到领金币每日签到领金币</p>
            </li>
        </ul>
        <div class="act-tip f-right">活动时间：2016.2.15-2016.3.28</div>
    </div>
</div>
