<div class="car-div">
    <div class="tit-div"><h3 class="car-h3">添加爱车</h3></div>
    <div class="car-main-div">
        <div class="itm">
            <span class="itm-tit" style="width:20%;">
                <select class="sel"><option selected="selected">京</option></select>
            </span>
            <span class="itm-sub f-right" id="inp-car" style="margin-left:20%;">
                <input type="text" class="inp t-right" style="width:100%;height:100%;display:block;" placeholder="车牌号"/>
            </span>
        </div>
        <div class="itm"><label class="itm-tit">请选择车型</label><span class="itm-sub f-right"><i class="icon icon-6" id="change-car-bt"></i></span></div>
        <div class="itm"><label class="itm-tit">认证车主</label><span class="f-right" id="inp-reg">未认证<i class="icon icon-6"></i></span></div>
    </div>
</div>


