<div class="center-info-box">
    <p class="user-img"><img src="images/userimg.jpg" width="50" height="50"/></p>
    <p class="user-name">我是车主</p>
    <p class="user-detail"><span>金币：10000</span><span>等级：新手上路</span></p>
    <div class="center-nav cl-white clear-after">
        <span nc-href="list"><em>帖子</em></span>
        <span nc-href="ffo"><em>关注</em></span>
        <span nc-href="ffa"><em>粉丝</em></span>
    </div>
</div>
<div class="center-list-box">
    <ul>
        <li class="itm" nc-href="task"><i class="icon icon-16"></i><span class="list-sp">每日任务<i class="f-right icon-6 icon"></i></span></li>
        <li class="itm" nc-href="sysmsg"><i class="icon icon-11"></i><span class="list-sp">我的消息<i class="f-right icon-6 icon"></i></span></li>
        <li class="itm" nc-href="center/hash_cate=advice"><i class="icon icon-17"></i><span class="list-sp">意见反馈<i class="f-right icon-6 icon"></i></span></li>
        <li class="itm" nc-href="lst"><i class="icon icon-15"></i><span class="list-sp">我的收藏<i class="f-right icon-6 icon"></i></span></li>
    </ul>
</div>
