<div class="comm-ff">
    <ul>
        <li data-id="01">
            <div class="comm-ff">
                <div class="comm-ff-tit">
                    <div class="comm-ff-tit-pic radius" nc-href="fr/id=01"><img src="images/car.png"/></div>
                    <div class="comm-ff-tit-tip">
                        <em class="disp-b" nc-href="fr/id=01">约翰 | 劳斯莱斯车主</em>
                        <h4 class="disp-b"><i class="icon icon-20"></i>&nbsp;<em class="disp-lb cl-grey">1小时</em></h4>
                    </div>
                    <button class="comm-ff-tit-bt subt lb f-right">取消关注</button>
                </div>
            </div>
        </li>
        <li data-id="02">
            <div class="comm-ff">
                <div class="comm-ff-tit">
                    <div class="comm-ff-tit-pic radius" nc-href="fr/id=02"><img src="images/car.png"/></div>
                    <div class="comm-ff-tit-tip">
                        <em class="disp-b" nc-href="fr/id=02">约翰 | 劳斯莱斯车主</em>
                        <h4 class="disp-b"><i class="icon icon-20"></i>&nbsp;<em class="disp-lb cl-grey">1小时</em></h4>
                    </div>
                    <button class="comm-ff-tit-bt subt lb f-right">取消关注</button>
                </div>
            </div>
        </li>
        <li data-id="03">
            <div class="comm-ff">
                <div class="comm-ff-tit">
                    <div class="comm-ff-tit-pic radius" nc-href="fr/id=03"><img src="images/car.png"/></div>
                    <div class="comm-ff-tit-tip">
                        <em class="disp-b" nc-href="fr/id=03">约翰 | 劳斯莱斯车主</em>
                        <h4 class="disp-b"><i class="icon icon-20"></i>&nbsp;<em class="disp-lb cl-grey">1小时</em></h4>
                    </div>
                    <button class="comm-ff-tit-bt subt lb f-right">取消关注</button>
                </div>
            </div>
        </li>
    </ul>
</div>