<div class="fr-hd">
    <div class="fr-hd-tit">
        <div class="fr-hd-tit-cap">
            <div class="fr-hd-tit-cap-pic radius" nc-href="fr/id=01"><img src="images/car.png"/></div>
            <div class="fr-hd-tit-cap-c t-center cl-org">楼主</div>
        </div>
        <div class="fr-hd-tit-tip">
            <button class="subt lb">+关注</button>
            <h4 class="disp-b cl-white">吊瓶哥 卡罗拉车主</h4>
        </div>
    </div>
    <div class="fr-hd-nav cl-white clear-after">
        <span nc-href="fr"><em>动态</em></span>
        <span class="on" nc-href="focus"><em>关注</em></span>
        <span nc-href="fans"><em>粉丝</em></span>
    </div>
</div>
<div class="comm-ff">
    <ul>
        <li data-id="01">
            <div class="comm-ff">
                <div class="comm-ff-tit">
                    <div class="comm-ff-tit-pic radius" nc-href="fr/id=02"><img src="images/car.png"/></div>
                    <div class="comm-ff-tit-tip">
                        <em class="disp-b" nc-href="fr/id=02">约翰 | 劳斯莱斯车主</em>
                        <h4 class="disp-b"><i class="icon icon-20"></i>&nbsp;<em class="disp-lb cl-grey">1小时</em></h4>
                    </div>
                    <button class="comm-ff-tit-bt subt lb f-right">取消关注</button>
                </div>
            </div>
        </li>
        <li data-id="02">
            <div class="comm-ff">
                <div class="comm-ff-tit">
                    <div class="comm-ff-tit-pic radius" nc-href="fr/id=03"><img src="images/car.png"/></div>
                    <div class="comm-ff-tit-tip">
                        <em class="disp-b" nc-href="fr/id=03">约翰 | 劳斯莱斯车主</em>
                        <h4 class="disp-b"><i class="icon icon-20"></i>&nbsp;<em class="disp-lb cl-grey">1小时</em></h4>
                    </div>
                    <button class="comm-ff-tit-bt subt lb f-right">取消关注</button>
                </div>
            </div>
        </li>
        <li data-id="03">
            <div class="comm-ff">
                <div class="comm-ff-tit">
                    <div class="comm-ff-tit-pic radius" nc-href="fr/id=04"><img src="images/car.png"/></div>
                    <div class="comm-ff-tit-tip">
                        <em class="disp-b" nc-href="fr/id=04">约翰 | 劳斯莱斯车主</em>
                        <h4 class="disp-b"><i class="icon icon-20"></i>&nbsp;<em class="disp-lb cl-grey">1小时</em></h4>
                    </div>
                    <button class="comm-ff-tit-bt subt lb f-right">取消关注</button>
                </div>
            </div>
        </li>
    </ul>
</div>