<div class="fr-hd">
    <div class="fr-hd-tit">
        <div class="fr-hd-tit-cap">
            <div class="fr-hd-tit-cap-pic radius" nc-href="fr/id=01"><img src="images/car.png"/></div>
            <div class="fr-hd-tit-cap-c t-center cl-org">楼主</div>
        </div>
        <div class="fr-hd-tit-tip">
            <button class="subt lb">+关注</button>
            <h4 class="disp-b cl-white">吊瓶哥 卡罗拉车主</h4>
        </div>
    </div>
    <div class="fr-hd-nav cl-white clear-after">
        <span class="on" nc-href="fr"><em>动态</em></span>
        <span nc-href="focus"><em>关注</em></span>
        <span nc-href="fans"><em>粉丝</em></span>
    </div>
</div>
<div class="comm-fr">
    <ul>
        <li class="itm">
            <div class="comm-fr-hd" nc-href="fr/id=01">
                <span class="comm-fr-hd-pic radius f-left"><img src="images/car.png"/></span>
                <span class="comm-fr-hd-t f-left">吊瓶哥哥</span>
            </div>
            <div class="comm-fr-sub">
                <div class="comm-fr-sub-con" nc-href="pdt/id=01">哈哈哈</div>
                <div class="comm-fr-sub-tip t-right clear-after">
                    <div class="comm-fr-cond h4 clear-after  f-right">
                        <span class="comm-fr-cond-itm f-left on"><i class="f-left icon icon-19"></i><em class="f-left">12</em></span>
                        <span class="comm-fr-cond-itm f-left"><i class="f-left icon icon-7"></i><em class="f-left">12</em></span>
                        <span class="comm-fr-cond-itm f-left"><i class="f-left icon icon-9"></i><em class="f-left">分享</em></span>
                    </div>
                    <span class="comm-fr-sub-tip-t h4 cl-grey f-left">昨天12:30 北京</span>
                </div>
            </div>
        </li>
    </ul>
</div>