<!--选择车型-->
<section id="car-brand">
    <li data-brandid="1" code="A"><img src="http://wxlk-files.chetuobang.com/wxlk_files/web/images/cars/1_l.jpg">奥迪</li>
    <li data-brandid="1" code="A"><img src="http://wxlk-files.chetuobang.com/wxlk_files/web/images/cars/1_l.jpg">奥迪</li>
    <li data-brandid="1" code="A"><img src="http://wxlk-files.chetuobang.com/wxlk_files/web/images/cars/1_l.jpg">奥迪</li>
    <li data-brandid="1" code="A"><img src="http://wxlk-files.chetuobang.com/wxlk_files/web/images/cars/1_l.jpg">奥迪</li>
    <li data-brandid="1" code="A"><img src="http://wxlk-files.chetuobang.com/wxlk_files/web/images/cars/1_l.jpg">奥迪</li>
    <li data-brandid="1" code="A"><img src="http://wxlk-files.chetuobang.com/wxlk_files/web/images/cars/1_l.jpg">奥迪</li>
    <li data-brandid="1" code="A"><img src="http://wxlk-files.chetuobang.com/wxlk_files/web/images/cars/1_l.jpg">奥迪</li>
    <li data-brandid="1" code="A"><img src="http://wxlk-files.chetuobang.com/wxlk_files/web/images/cars/1_l.jpg">奥迪</li>
</section>
<section id="car-type">
    <li data-typeid="34" code=""><img src="http://wxlk-files.chetuobang.com/wxlk_files/web/images/cars/34.jpg">Gtv</li>
    <li data-typeid="34" code=""><img src="http://wxlk-files.chetuobang.com/wxlk_files/web/images/cars/34.jpg">Gtv</li>
    <li data-typeid="34" code=""><img src="http://wxlk-files.chetuobang.com/wxlk_files/web/images/cars/34.jpg">Gtv</li>
    <li data-typeid="34" code=""><img src="http://wxlk-files.chetuobang.com/wxlk_files/web/images/cars/34.jpg">Gtv</li>
    <li data-typeid="34" code=""><img src="http://wxlk-files.chetuobang.com/wxlk_files/web/images/cars/34.jpg">Gtv</li>
    <li data-typeid="34" code=""><img src="http://wxlk-files.chetuobang.com/wxlk_files/web/images/cars/34.jpg">Gtv</li>
    <li data-typeid="34" code=""><img src="http://wxlk-files.chetuobang.com/wxlk_files/web/images/cars/34.jpg">Gtv</li>
</section>
<section id="car-nav">
    <ul class="car-nav-lst">
        <li>A</li><li>B</li><li>C</li>
        <li>A</li><li>B</li><li>C</li>
        <li>A</li><li>B</li><li>C</li>
        <li>A</li><li>B</li><li>C</li>
        <li>A</li><li>B</li><li>C</li>
        <li>A</li><li>B</li><li>C</li>
        <li>A</li><li>B</li><li>C</li>
    </ul>
</section>