<div class="comm-posts">
    <img src="images/orange_icon.png" class="comm-posts-hot"/>
    <ul>
        <li class="itm" nc-href="pdt/id=01">
            <div class="comm-posts-tit">
                <span>本田CRV社区</span>
                <button class="subt lb">+ 关注</button>
            </div>
            <div class="comm-posts-tip clear-after">
                <span class="comm-posts-tip-pic radius f-left" nc-href="fr/id=01"><img src="images/car.png"/></span>
                    <span class="comm-posts-tip-t f-left h4" nc-href="fr/id=01">
                        <em>吊瓶哥</em><em class="cl-grey"> | 卡罗拉车主</em>
                    </span>
                <span class="cl-org f-right h4 fb">楼主</span>
            </div>
            <div class="comm-posts-sub">
                <h3 class="fb">这里是标题</h3>
                <div class="comm-posts-sub-con">我要吃麻辣小龙虾我要吃麻辣小龙虾我要吃麻辣小龙虾我要吃麻辣小龙虾我要吃麻辣小龙虾</div>
            </div>
            <div class="comm-posts-cond h4 clear-after">
                <span class="comm-posts-cond-itm f-left"><i class="f-left icon icon-18"></i><em class="f-left">12</em></span>
                <span class="comm-posts-cond-itm f-left"><i class="f-left icon icon-7"></i><em class="f-left">12</em></span>
                <span class="comm-posts-cond-itm f-left"><i class="f-left icon icon-9"></i><em class="f-left">12</em></span>
            </div>
        </li>
        <li class="itm" nc-href="pdt/id=02">
            <div class="comm-posts-tit">
                <span>本田CRV社区</span>
                <button class="subt lb">已关注</button>
            </div>
            <div class="comm-posts-tip clear-after">
                <span class="comm-posts-tip-pic radius f-left" nc-href="fr/id=01"><img src="images/car.png"/></span>
                    <span class="comm-posts-tip-t f-left h4" nc-href="fr/id=01">
                        <em>吊瓶哥</em><em class="cl-grey"> | 卡罗拉车主</em>
                    </span>
            </div>
            <div class="comm-posts-sub">
                <h3 class="fb">这里是标题</h3>
                <div class="comm-posts-sub-con">我要吃麻辣小龙虾我要吃麻辣小龙虾我要吃麻辣小龙虾我要吃麻辣小龙虾我要吃麻辣小龙虾<img src="images/banner4.png"/></div>
            </div>
            <div class="comm-posts-cond h4 clear-after">
                <span class="comm-posts-cond-itm f-left on"><i class="f-left icon icon-19"></i><em class="f-left">12</em></span>
                <span class="comm-posts-cond-itm f-left"><i class="f-left icon icon-7"></i><em class="f-left">12</em></span>
                <span class="comm-posts-cond-itm f-left"><i class="f-left icon icon-9"></i><em class="f-left">12</em></span>
            </div>
        </li>
    </ul>
</div>