<div class="comm-posts">
    <img src="images/orange_icon.png" class="comm-posts-hot"/>
    <ul>
        <li class="itm" nc-href="pdt/id=01">
            <div class="comm-posts-tip clear-after">
                <span class="comm-posts-tip-pic radius f-left" nc-href="fr/id=01"><img src="images/car.png"/></span>
                    <span class="comm-posts-tip-t f-left h4" nc-href="fr/id=01">
                        <em>吊瓶哥</em><em class="cl-grey"> | 卡罗拉车主</em>
                    </span>
                <span class="cl-org f-right h4 fb">楼主</span>
            </div>
            <div class="comm-posts-sub">
                <h3 class="fb">这里是标题</h3>
                <div class="comm-posts-sub-con">我要吃麻辣小龙虾我要吃麻辣小龙虾我要吃麻辣小龙虾我要吃麻辣小龙虾我要吃麻辣小龙虾<img src="images/banner2.png"/></div>
            </div>
            <div class="comm-posts-cond h4 clear-after">
                <span class="comm-posts-cond-itm f-left"><i class="f-left icon icon-18"></i><em class="f-left">12</em></span>
                <span class="comm-posts-cond-itm f-left"><i class="f-left icon icon-7"></i><em class="f-left">12</em></span>
                <span class="comm-posts-cond-itm f-left"><i class="f-left icon icon-9"></i><em class="f-left">12</em></span>
            </div>
        </li>
    </ul>
</div>
<div class="comm-rep">
    <ul>
        <li class="itm" data-id="01">
            <div class="comm-rep-hd" nc-href="fr/id=01">
                <span class="comm-rep-hd-pic radius f-left"><img src="images/car.png"/></span>
                <span class="comm-rep-hd-t f-left">吊瓶哥哥</span>
            </div>
            <div class="comm-rep-sub">
                <div class="comm-rep-sub-con">哈哈哈</div>
                <div class="comm-rep-sub-tip t-right clear-after">
                    <div class="comm-rep-cond h4 clear-after  f-right">
                        <span class="comm-rep-cond-itm f-left on"><i class="f-left icon icon-19"></i><em class="f-left">12</em></span>
                        <span class="comm-rep-cond-itm f-left"><i class="f-left icon icon-7"></i><em class="f-left">12</em></span>
                        <span class="comm-rep-cond-itm f-left"><i class="f-left icon icon-9"></i><em class="f-left">12</em></span>
                    </div>
                    <span class="comm-rep-sub-tip-t h4 cl-grey f-right">昨天12:30 北京</span>
                </div>
            </div>
        </li>
        <li class="itm" data-id="01">
            <div class="comm-rep-hd" nc-href="fr/id=01">
                <span class="comm-rep-hd-pic radius f-left"><img src="images/car.png"/></span>
                <span class="comm-rep-hd-t f-left">吊瓶哥哥</span>
            </div>
            <div class="comm-rep-sub">
                <div class="comm-rep-sub-con t-left">哈哈哈</div>
                <div class="comm-rep-sub-tip t-right clear-after">
                    <div class="comm-rep-cond h4 clear-after  f-right">
                        <span class="comm-rep-cond-itm f-left"><i class="f-left icon icon-18"></i><em class="f-left">12</em></span>
                        <span class="comm-rep-cond-itm f-left"><i class="f-left icon icon-7"></i><em class="f-left">12</em></span>
                        <span class="comm-rep-cond-itm f-left"><i class="f-left icon icon-9"></i><em class="f-left">12</em></span>
                    </div>
                    <span class="comm-rep-sub-tip-t h4 cl-grey f-right">昨天12:30 内蒙古</span>
                </div>
            </div>
        </li>
    </ul>
</div>