<div class="list-hd">
    <button class="subt lb ico clear-after" nc-href="list"><i class="icon icon-10"></i><cite class="cl-grey">发帖</cite></button>
    <button class="subt lb ico clear-after" nc-href="reply"><i class="icon icon-12"></i><cite>回复</cite></button>
</div>
<div class="edge"><em class="fb"> | </em>精华推荐</div>
<div class="comm-rep">
    <ul>
        <li class="itm" data-id="01">
            <div class="comm-rep-hd" nc-href="fr/id=01">
                <span class="comm-rep-hd-pic radius f-left"><img src="images/car.png"/></span>
                <span class="comm-rep-hd-t f-left">吊瓶哥哥</span>
            </div>
            <div class="comm-rep-sub">
                <div class="comm-rep-sub-con" nc-href="pdt/hash_id=01">哈哈哈</div>
                <div class="comm-rep-sub-tip t-right clear-after">
                    <div class="comm-rep-cond h4 clear-after  f-right">
                        <span class="comm-rep-cond-itm f-left on"><i class="f-left icon icon-19"></i><em class="f-left">12</em></span>
                        <span class="comm-rep-cond-itm f-left"><i class="f-left icon icon-7"></i><em class="f-left">12</em></span>
                        <span class="comm-rep-cond-itm f-left"><i class="f-left icon icon-8"></i></span>
                    </div>
                    <span class="comm-rep-sub-tip-t h4 cl-grey f-right">2016-11-12</span>
                </div>
            </div>
        </li>
        <li class="itm" data-id="01">
            <div class="comm-rep-hd" nc-href="fr/id=02">
                <span class="comm-rep-hd-pic radius f-left"><img src="images/car.png"/></span>
                <span class="comm-rep-hd-t f-left">吊瓶哥哥</span>
            </div>
            <div class="comm-rep-sub">
                <div class="comm-rep-sub-con t-left" nc-href="pdt/hash_id=02">哈哈哈</div>
                <div class="comm-rep-sub-tip t-right clear-after">
                    <div class="comm-rep-cond h4 clear-after  f-right">
                        <span class="comm-rep-cond-itm f-left on"><i class="f-left icon icon-19"></i><em class="f-left">12</em></span>
                        <span class="comm-rep-cond-itm f-left"><i class="f-left icon icon-7"></i><em class="f-left">12</em></span>
                        <span class="comm-rep-cond-itm f-left"><i class="f-left icon icon-8"></i></span>
                    </div>
                    <span class="comm-rep-sub-tip-t h4 cl-grey f-right">2016-11-12</span>
                </div>
            </div>
        </li>
    </ul>
</div>