<div class="sys-msg-box" nc-href="actmsg/hash_id=01">
    <li class="msg-time cl-grey">2016-05-04 10:00</li>
    <p class="msg-con cl-black">您于2016-1-3发布的帖子已被删除<br/>删除原因：您发布的帖子违反论坛相关规定</p>
</div>
<div class="sys-msg-box" nc-href="actmsg/hash_id=02">
    <li class="msg-time cl-grey">2016-05-04 10:00</li>
    <p class="msg-con cl-black">您于2016-1-3发布的帖子已被删除<br/>删除原因：您发布的帖子违反论坛相关规定</p>
</div>
<div class="sys-msg-box" nc-href="actmsg/hash_id=03">
    <li class="msg-time cl-grey">2016-05-04 10:00</li>
    <p class="msg-con cl-black">欢迎关注微信路况</p>
</div>



