<div class="task-hd">
    <button class="subt lb ico clear-after"><cite class="cl-grey">每日登陆</cite></button>
    <button class="subt lb ico clear-after"><cite>新手任务</cite></button>
</div>
<div class="task-tips">
    <h3>700<i class="icon icon-21"></i>新手任务只可限领一次<i class="change-gold-div">金币兑换</i></h3>
</div>
<div class="task-list">
    <div class="itm"><label class="itm-tit">完善资料<i class="task-gold-dtl"><img src="images/icon21.png"><em>13</em></i></label><span class="f-right lst-bt task-now">立即签到</span></div>
    <div class="itm"><label class="itm-tit">添加手机号<i class="task-gold-dtl"><img src="images/icon21.png"><em>13</em></i></label><span class="f-right lst-bt get-prize">领取奖励</span></div>
    <div class="itm"><label class="itm-tit">第1次发帖<i class="task-gold-dtl"><img src="images/icon21.png"><em>13</em></i></label><span class="f-right lst-bt task-wait">待完成</span></div>
    <div class="itm"><label class="itm-tit">给热门推荐贴点赞3次<i class="task-gold-dtl"><img src="images/icon21.png"><em>13</em></i></label><span class="f-right lst-bt task-wait">待完成</span></div>
    <div class="itm"><label class="itm-tit">给热门推荐贴点赞3次<i class="task-gold-dtl"><img src="images/icon21.png"><em>13</em></i></label><span class="f-right lst-bt task-wait">待完成</span></div>
</div>