<div class="user-div">
    <div class="user-info-box">
        <div class="itm"><label class="itm-tit" style="padding-top: 1rem;">头像</label><span class="itm-sub f-right user-img"><img src="images/userimg.jpg"/></span></div>
        <div class="itm">
            <label class="itm-tit">昵称</label>
            <span class="itm-sub user-info-box-t">
                <input type="text" class="user-info-box-t-inp inp t-right icon icon-6" disabled="disabled" value="吊瓶哥"/>
            </span>
        </div>
        <div class="itm">
            <label class="itm-tit" >手机验证<em class="spe-tip">（必填）</em></label>
            <span class="itm-sub f-right user-info-box-t" >
                <input type="text" class="user-info-box-t-inp inp t-right icon icon-6" />
            </span>
        </div>
    </div>
    <div class="user-info-else">
        <div class="itm">
            <label class="itm-tit">性别</label>
            <span class="itm-sub user-info-box-t">
                <select class="sel user-info-box-t-inp icon icon-6" dir="rtl">
                    <option selected="selected" value="1">女</option>
                    <option value="2">男</option>
                </select>
            </span>
        </div>
        <div class="itm">
            <label class="itm-tit">生日</label>
            <span class="itm-sub f-right user-info-box-t">
                <input type="text" class="user-info-box-t-inp inp t-right icon icon-6" readonly="readonly" id="birthday" />
            </span>
        </div>
        <div class="itm">
            <label class="itm-tit">爱车</label>
            <span class="itm-sub f-right user-info-box-t">
                <input type="text" class="user-info-box-t-inp inp t-right icon icon-6" readonly="readonly" placeholder="请选择" id="user-info-sel-car"/>
            </span>
        </div>
        <div class="itm">
            <label class="itm-tit">驾龄</label>
            <span class="itm-sub t-right user-info-box-t">
                <select class="sel user-info-box-t-inp icon icon-6" dir="rtl">
                    <option selected="selected" value="1">1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                    <option>11</option>
                    <option>12</option>
                    <option>13</option>
                    <option>14</option>
                    <option>15</option>
                    <option>16</option>
                    <option>17</option>
                    <option>18</option>
                    <option>19</option>
                    <option>20</option>
                    <option>21</option>
                    <option>22</option>
                    <option>23</option>
                    <option>24</option>
                    <option>25</option>
                    <option>26</option>
                    <option>27</option>
                    <option>28</option>
                    <option>29</option>
                    <option>30</option>
                    <option>31</option>
                    <option>32</option>
                    <option>33</option>
                    <option>34</option>
                    <option>35</option>
                    <option>36</option>
                    <option>37</option>
                    <option>38</option>
                    <option>39</option>
                    <option>40</option>
                    <option>41</option>
                    <option>42</option>
                    <option>43</option>
                    <option>44</option>
                    <option>45</option>
                    <option>46</option>
                    <option>47</option>
                    <option>48</option>
                    <option>49</option>
                    <option>50</option>
                    <option>51</option>
                    <option>52</option>
                </select>
            </span>
        </div>
        <div class="itm">
            <label class="itm-tit">家</label>
            <span class="itm-sub f-right user-info-box-t">
                <input type="text" class="user-info-box-t-inp inp t-right icon icon-6" />
            </span>
        </div>
        <div class="itm">
            <label class="itm-tit">公司</label>
            <span class="itm-sub t-right user-info-box-t">
                <input type="text" class="user-info-box-t-inp inp t-right icon icon-6" />
            </span>
        </div>
    </div>

    <button class="buttons-box subt user-subt">完成</button>
</div>



